In [1]:
import pandas as pd

In [2]:
path = '/Users/moutasemakkad/Desktop/COLNYC201904DATA3/homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv'
file = pd.read_csv(path)

In [3]:
df = pd.DataFrame(file).sort_values(by=['SN'])

Player Count

In [4]:
users = df['SN']
count_users = users.unique()
# c = pd.DataFrame(count_users)
# c.count()
# len(df['SN'].unique())

df_total_players = pd.DataFrame([{'Total Players':len(count_users)}])
df_total_players

   Total Players
0            576

#### Purchasing Analysis (Total)

Number of Unique Items

In [5]:
# Number of Unique Items
num_unique_items = len(df['Item Name'].unique())

Item Average Price

In [6]:
# Average Purchase Price
Average_purchase_price = df['Price'].mean()

In [7]:
# Total Number of Purchases
num_purchases = int(df['Purchase ID'].tail(1))

In [8]:
# Total Revenue
total_revenue = df['Price'].sum()

In [9]:
df_purchasing_analysis = pd.DataFrame({'Number of Unique Items': [num_unique_items],'Average Price': [Average_purchase_price],'Number of Purchases': [num_purchases],'Total Revenue':[total_revenue]})
df_purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                   17        2379.77

#### Gender Demographics

In [10]:
t = df['Gender'].unique()
len(t)

3

In [11]:
# percentage and Count of Male Players
user_gender_df = df.drop_duplicates(subset="SN")

# .unique()
# g = pd.DataFrame(group)
# g

In [12]:
total = user_gender_df['SN'].count()
total

576

In [13]:
# Male Count
gender_counts = user_gender_df["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
# Male Precentage
male_count = gender_counts["Male"]
malePrecentage = (male_count/total)*100
malePrecentage

84.02777777777779

In [15]:
# Female Count
female_count = gender_counts["Female"]
femalePrecentage = (female_count/total)*100
femalePrecentage

14.0625

In [16]:
# Count of Other / Non-Disclosed
NonDisclosed = gender_counts["Other / Non-Disclosed"]

In [17]:
# Non disclosed Precentage
NonDisclosedPrecentage = (NonDisclosed/total)*100
NonDisclosedPrecentage

1.9097222222222223

In [18]:
df_Gender_Demographics = pd.DataFrame({
                         'Gender':['Male', 'Female', 'Other / Non-Disclosed'],
                         'Total Count' : [male_count, female_count, NonDisclosed],
                         'Percentage of Players' : [malePrecentage, femalePrecentage, NonDisclosedPrecentage]
})
df_Gender_Demographics

                  Gender  Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722

### Purchasing Analysis (Gender)

In [19]:
#total  
total_number_purchases = df.count()['Gender']
total_sum_purchases = df['Price'].sum()
total_sum_purchases

2379.77

In [20]:
last = total_num_purchases_male = df['Gender'].value_counts()['Male']

In [21]:
# purchase count male
total_num_purchases_male = df['Gender'].value_counts()['Male']
total_num_purchases_male

652

In [22]:
#Total spent male
total_spent_male = df.loc[df['Gender']=='Male', ['Price']].sum()
total_spent_male

Price    1967.64
dtype: float64

In [23]:
# purchase count female
total_num_purchases_female = df['Gender'].value_counts()['Female']
total_num_purchases_female

113

In [24]:
#Total spent female
total_spent_female = df.loc[df['Gender']=='Female', ['Price']].sum()
total_spent_female

Price    361.94
dtype: float64

In [25]:
# purchase count undi
total_num_purchases_undi = df['Gender'].value_counts()['Other / Non-Disclosed']
total_num_purchases_undi

15

In [26]:
#Total spent undi
total_spent_undi = df.loc[df['Gender']=='Other / Non-Disclosed', ['Price']].sum()
total_spent_undi

Price    50.19
dtype: float64

In [27]:
#  Average Purchase Total per Person Male
maleav = df.loc[df['Gender']=='Male', ['Price']].mean()

In [28]:
#  Average Purchase Total per Person female
femaleav = df.loc[df['Gender']=='Female', ['Price']].mean()

In [29]:
#  Average Purchase Total per Person undi
undiav = df.loc[df['Gender']=='Other / Non-Disclosed', ['Price']].mean()

In [30]:
sum_grouped = df.groupby(['SN', 'Gender'])['Price'].sum()

In [31]:
dataFrame = pd.DataFrame({'Sum': sum_grouped})
dataFrame.groupby('Gender')['Sum'].mean()

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Sum, dtype: float64

In [32]:
per_person_per_gender_df = pd.DataFrame({'Mean per person-gender': dataFrame.groupby('Gender')['Sum'].mean()})
per_person_per_gender_df

                       Mean per person-gender
Gender
Female                               4.468395
Male                                 4.065372
Other / Non-Disclosed                4.562727

In [33]:
Purchasing_Analysis_Gender_df = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Other / Non-Disclosed'],
    'Purchase Count': [total_num_purchases_male, total_num_purchases_female, int(total_num_purchases_undi)],
    'Average Purchase Price': [float(maleav), float(femaleav), float(undiav)],
    'Total Purchase Value' : [float(total_spent_male), float(total_spent_female), int(total_spent_undi)]
})
Purchasing_Analysis_Gender_df.merge(per_person_per_gender_df, on='Gender')

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Mean per person-gender
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.00,4.562727

### Age Demographics

In [34]:
bins = [0, 9, 15, 19,24,29,34,39,49]
labels = ['<10','10-14', '15-19','20-24','25-29', '30-34','35-39','40+']
pd.cut(df['Age'],bins,labels=labels)
df2 = df.sort_values(by='Purchase ID')

df2['Age Range'] = pd.cut(df['Age'],bins,labels=labels)
df2.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [35]:
ageRangeCount = df2.groupby('Age Range')['Price'].count()

In [36]:
averagePrice = df2.groupby('Age Range')['Price'].mean()

In [37]:
TotalPurchaseValue = df2.groupby('Age Range')['Price'].sum()

In [38]:
averagePricePerPerson = df2.groupby(['Age Range','SN'])['Price'].sum()
averagePricePerPerson.head(5)

Age Range  SN
<10        Anallorgue57    5.70
           Chadjask77      4.93
           Chanossast57    4.32
           Eurithphos97    4.55
           Eusri44         3.09
Name: Price, dtype: float64

In [39]:
averagePricePerPerson1 = averagePricePerPerson.groupby('Age Range').mean()
averagePricePerPerson1

Age Range
<10      4.537059
10-14    3.925625
15-19    3.793086
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
Name: Price, dtype: float64

In [40]:
dataFramedemo = pd.DataFrame({"Count": ageRangeCount,
                              "Average Purchase Price": round(averagePrice,2),
                              "Total Purchase Value": TotalPurchaseValue,
                              "Avg Total Purchase per Person" : averagePricePerPerson1})
dataFramedemo

,Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,3.35,77.13,4.537059
10-14,63,2.99,188.43,3.925625
15-19,101,3.04,307.24,3.793086
20-24,365,3.05,1114.06,4.318062
25-29,101,2.90,293.00,3.805195
30-34,73,2.93,214.00,4.115385
35-39,41,3.60,147.67,4.763548
40+,13,2.94,38.24,3.186667

### Top Spenders

In [41]:
summed = df.groupby('SN')['Price'].sum()
count = df.groupby('SN')['Price'].count()
average = df.groupby('SN')['Price'].mean()

dfAverages = pd.DataFrame({'Total Purchase per person':summed})
dfAverages = dfAverages.sort_values('Total Purchase per person', ascending=False).head(5)
dfAverages['Purchase Count'] = count
dfAverages['Average Purchase Price'] = round(average,2)
dfAverages

             Total Purchase per person  Purchase Count  Average Purchase Price
SN
Lisosia93                        18.96               5                    3.79
Idastidru52                      15.45               4                    3.86
Chamjask73                       13.83               3                    4.61
Iral74                           13.62               4                    3.40
Iskadarya95                      13.10               3                    4.37

In [42]:
df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48

In [43]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
630,630,Aelaria33,23,Male,171,Scalpel,1.79

## Most Popular Items

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [73]:
grouped_by_itemName = df.groupby('Item Name')
grouped_by_itemName_counts = grouped_by_itemName['SN'].count()
countFrame = pd.DataFrame({'Count':grouped_by_itemName_counts})
countFrame = countFrame['Count'].astype(int)
countFrame.head(5)

Item Name
Abyssal Shard                     5
Aetherius, Boon of the Blessed    5
Agatha                            6
Alpha                             3
Alpha, Oath of Zeal               3
Name: Count, dtype: int64

In [81]:
finalD = df.copy()
f

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Count
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,NaN
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,NaN
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,NaN
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,NaN
630,630,Aelaria33,23,Male,171,Scalpel,1.79,NaN
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,NaN
218,218,Aelastirin39,23,Male,76,Haunted Bronzed Bludgeon,3.15,NaN
705,705,Aelidru27,22,Male,183,Dragon's Greatsword,1.09,NaN
52,52,Aelin32,20,Male,60,Wolf,3.54,NaN
87,87,Aelin32,20,Male,151,Severance,3.40,NaN
584,584,Aelin32,20,Male,115,Spectral Diamond Doomblade,2.04,NaN
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18,NaN
428,428,Aelly27,24,Male,14,Possessed Core,2.61,NaN
286,286,Aellynun67,25,Male,153,Mercenary Sabre,3.74,NaN
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,NaN
203,203,Aelollo59,33,Male,3,Phantomlight,2.49,NaN
431,431,Aelollo59,33,Male,172,Blade of the Grave,3.14,NaN
183,183,Aenarap34,21,Male,15,Soul Infused Crystal,2.96,NaN
263,263,Aeral43,24,Male,78,"Glimmer, Ender of the Moon",4.40,NaN
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,NaN
167,167,Aeral97,23,Male,157,"Spada, Etcher of Hatred",4.80,NaN
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,NaN
583,583,Aeralstical35,20,Male,49,"The Oculus, Token of Lost Worlds",2.96,NaN
303,303,Aeri84,24,Male,71,Demise,1.61,NaN
381,381,Aerillorin70,16,Male,83,Lifebender,3.33,NaN
274,274,Aerithllora36,29,Female,82,Nirvana,4.90,NaN
578,578,Aerithllora36,29,Female,153,Mercenary Sabre,3.74,NaN
324,324,Aerithnucal56,15,Male,154,Feral Katana,4.40,NaN
517,517,Aerithnuphos61,39,Male,128,"Blazeguard, Reach of Eternity",4.91,NaN
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56,NaN
...,...,...,...,...,...,...,...,...
421,421,Yadaphos40,30,Male,26,Unholy Wand,1.12,NaN
62,62,Yadaphos40,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,NaN
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,NaN
447,447,Yalae81,22,Male,120,Agatha,3.08,NaN
681,681,Yalaeria91,33,Male,28,"Flux, Destroyer of Due Diligence",1.06,NaN
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,NaN
383,383,Yalo85,34,Male,11,Brimstone,3.65,NaN
518,518,Yalostiphos68,29,Male,160,Azurewrath,4.40,NaN
280,280,Yana46,20,Female,16,Restored Bauble,3.55,NaN
364,364,Yarithllodeu72,22,Male,88,"Emberling, Defender of Delusions",3.75,NaN
279,279,Yarithrgue83,20,Male,163,Thunderfury Scimitar,3.45,NaN
698,698,Yarithrin84,30,Female,58,"Freak's Bite, Favor of Holy Might",4.14,NaN
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",4.94,NaN
696,696,Yarolwen77,30,Male,87,"Deluge, Edge of the West",4.43,NaN
46,46,Yasrisu92,27,Male,102,Avenger,3.44,NaN
340,340,Yastyriaphos75,22,Male,41,Orbit,4.75,NaN
257,257,Yasur35,26,Male,175,Woeful Adamantite Claymore,4.48,NaN
514,514,Yasur85,21,Male,21,Souleater,1.10,NaN
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,NaN
125,125,Yathecal82,20,Female,62,Piece Maker,1.87,NaN
727,727,Yathecal82,20,Female,104,Gladiator's Glaive,1.93,NaN
548,548,Yathecal82,20,Female,75,Brutality Ivory Warmace,2.42,NaN
595,595,Yathedeu43,22,Male,55,Vindictive Glass Edge,2.27,NaN
93,93,Yathedeu43,22,Male,88,"Emberling, Defender of Delusions",3.75,NaN
572,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,4.58,NaN
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,NaN
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,NaN
560,560,Zontibe81,21,Male,2,Verdict,2.48,NaN
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79,NaN
17,17,Zontibe81,21,Male,161,Devine,1.76,NaN