In [1]:
import pandas as pd

In [21]:
path = '/Users/moutasemakkad/Desktop/COLNYC201904DATA3/homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv'
file = pd.read_csv(path)
file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
df = pd.DataFrame(file)

Player Count

In [62]:
count = df['SN'].unique()
c = pd.DataFrame(count)
c.count()
# len(df['SN'].unique())

0    576
dtype: int64

Purchasing Analysis (Total)

In [24]:
# Number of Unique Items
len(df['Item Name'].unique())

179

In [25]:
# Average Purchase Price
df['Price'].mean()

3.050987179487176

In [26]:
# Total Number of Purchases
df['Purchase ID'].tail(1)

779    779
Name: Purchase ID, dtype: int64

In [27]:
# Total Revenue
df['Price'].sum()

2379.77

Gender Demographics

In [64]:
# percentage and Count of Male Players
group = df['Gender'].value_counts()
total = male + female

In [49]:
# Male Count
male = group["Male"]
male

652

In [52]:
# Male Precentage
malePrecentage = male/total*100
malePrecentage

85.22875816993464

In [51]:
# Female Count
female = group["Female"]
female

113

In [53]:
# Female Precentage
femalePrecentage = female/total*100
femalePrecentage

14.77124183006536

In [54]:
# Count of Other / Non-Disclosed
NonDisclosed = group["Other / Non-Disclosed"]
NonDisclosed

15

In [55]:
# Non disclosed Precentage
NonDisclosedPrecentage = NonDisclosed/total*100
NonDisclosedPrecentage

1.9607843137254901

Purchasing Analysis (Gender)