In [1]:
import pandas as pd

In [2]:
path = '/Users/moutasemakkad/Desktop/COLNYC201904DATA3/homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv'
file = pd.read_csv(path)

In [3]:
df = pd.DataFrame(file).sort_values(by=['SN'])

Player Count

In [4]:
users = df['SN']
count_users = users.unique()
# c = pd.DataFrame(count_users)
# c.count()
# len(df['SN'].unique())

df_total_players = pd.DataFrame([{'Total Players':len(count_users)}])
df_total_players

   Total Players
0            576

#### Purchasing Analysis (Total)

Number of Unique Items

In [5]:
# Number of Unique Items
num_unique_items = len(df['Item Name'].unique())

Item Average Price

In [6]:
# Average Purchase Price
Average_purchase_price = df['Price'].mean()

In [7]:
# Total Number of Purchases
num_purchases = df['Item Name'].count()

In [8]:
# Total Revenue
total_revenue = df['Price'].sum()

In [53]:
df_purchasing_analysis = pd.DataFrame({'Number of Unique Items': [num_unique_items],'Average Price': [f"${round(Average_purchase_price,2)}"],'Number of Purchases': [num_purchases],'Total Revenue':[f"${total_revenue}"]})
df_purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

#### Gender Demographics

In [10]:
t = df['Gender'].unique()
len(t)

3

In [11]:
# percentage and Count of Male Players
user_gender_df = df.drop_duplicates(subset="SN")

# .unique()
# g = pd.DataFrame(group)
# g

In [12]:
total = user_gender_df['SN'].count()
total

576

In [13]:
# Male Count
gender_counts = user_gender_df["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
# Male Precentage
male_count = gender_counts["Male"]
malePrecentage = (male_count/total)*100
malePrecentage

84.02777777777779

In [15]:
# Female Count
female_count = gender_counts["Female"]
femalePrecentage = (female_count/total)*100
femalePrecentage

14.0625

In [16]:
# Count of Other / Non-Disclosed
NonDisclosed = gender_counts["Other / Non-Disclosed"]

In [17]:
# Non disclosed Precentage
NonDisclosedPrecentage = (NonDisclosed/total)*100
NonDisclosedPrecentage

1.9097222222222223

In [55]:
df_Gender_Demographics = pd.DataFrame({
                         'Gender':['Male', 'Female', 'Other / Non-Disclosed'],
                         'Total Count' : [male_count, female_count, NonDisclosed],
                         'Percentage of Players' : [round(malePrecentage,2), round(femalePrecentage,2), round(NonDisclosedPrecentage,2)]
})
df_Gender_Demographics

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

### Purchasing Analysis (Gender)

In [19]:
#total  
total_number_purchases = df.count()['Gender']
total_sum_purchases = df['Price'].sum()
total_sum_purchases

2379.77

In [20]:
last = total_num_purchases_male = df['Gender'].value_counts()['Male']

In [21]:
# purchase count male
total_num_purchases_male = df['Gender'].value_counts()['Male']
total_num_purchases_male

652

In [22]:
#Total spent male
total_spent_male = df.loc[df['Gender']=='Male', ['Price']].sum()
total_spent_male

Price    1967.64
dtype: float64

In [23]:
# purchase count female
total_num_purchases_female = df['Gender'].value_counts()['Female']
total_num_purchases_female

113

In [24]:
#Total spent female
total_spent_female = df.loc[df['Gender']=='Female', ['Price']].sum()
total_spent_female

Price    361.94
dtype: float64

In [25]:
# purchase count undi
total_num_purchases_undi = df['Gender'].value_counts()['Other / Non-Disclosed']
total_num_purchases_undi

15

In [26]:
#Total spent undi
total_spent_undi = df.loc[df['Gender']=='Other / Non-Disclosed', ['Price']].sum()
total_spent_undi

Price    50.19
dtype: float64

In [27]:
#  Average Purchase Total per Person Male
maleav = df.loc[df['Gender']=='Male', ['Price']].mean()

In [28]:
#  Average Purchase Total per Person female
femaleav = df.loc[df['Gender']=='Female', ['Price']].mean()

In [29]:
#  Average Purchase Total per Person undi
undiav = df.loc[df['Gender']=='Other / Non-Disclosed', ['Price']].mean()

In [30]:
sum_grouped = df.groupby(['SN', 'Gender'])['Price'].sum()

In [31]:
dataFrame = pd.DataFrame({'Sum': sum_grouped})
dataFrame.groupby('Gender')['Sum'].mean()

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Sum, dtype: float64

In [73]:
per_person_per_gender_df = pd.DataFrame({'Mean per person-gender': dataFrame.groupby('Gender')['Sum'].mean()})

In [75]:
Purchasing_Analysis_Gender_df = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Other / Non-Disclosed'],
    'Purchase Count': [total_num_purchases_male, total_num_purchases_female, int(total_num_purchases_undi)],
    'Average Purchase Price': [f'${round(float(maleav),2)}', f"${round(float(femaleav),2)}", f"${round(float(undiav),2)}"],
    
    'Total Purchase Value' : [f"{round(float(total_spent_male),2)}", float(total_spent_female), int(total_spent_undi)]
})
Purchasing_Analysis_Gender_df.merge(per_person_per_gender_df, on='Gender')

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Mean per person-gender
0,Male,652,$3.02,1967.64,4.065372
1,Female,113,$3.2,361.94,4.468395
2,Other / Non-Disclosed,15,$3.35,50,4.562727

### Age Demographics

In [80]:
bins = [0, 9, 15, 19,24,29,34,39,49]
labels = ['<10','10-14', '15-19','20-24','25-29', '30-34','35-39','40+']
pd.cut(df['Age'],bins,labels=labels)
df2 = df.sort_values(by='Purchase ID')

df2['Age Range'] = pd.cut(df['Age'],bins,labels=labels)

In [84]:
ageRangeCount = df2.groupby('Age Range')['Price'].count()
dfff = pd.DataFrame({'Count':ageRangeCount})
dfff

           Count
Age Range
<10           23
10-14         63
15-19        101
20-24        365
25-29        101
30-34         73
35-39         41
40+           13

In [36]:
averagePrice = df2.groupby('Age Range')['Price'].mean()

In [37]:
TotalPurchaseValue = df2.groupby('Age Range')['Price'].sum()

In [77]:
averagePricePerPerson = df2.groupby(['Age Range','SN'])['Price'].sum()

In [78]:
averagePricePerPerson1 = averagePricePerPerson.groupby('Age Range').mean()

In [40]:
dataFramedemo = pd.DataFrame({"Count": ageRangeCount,
                              "Average Purchase Price": round(averagePrice,2),
                              "Total Purchase Value": TotalPurchaseValue,
                              "Avg Total Purchase per Person" : averagePricePerPerson1})
dataFramedemo

,Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,3.35,77.13,4.537059
10-14,63,2.99,188.43,3.925625
15-19,101,3.04,307.24,3.793086
20-24,365,3.05,1114.06,4.318062
25-29,101,2.90,293.00,3.805195
30-34,73,2.93,214.00,4.115385
35-39,41,3.60,147.67,4.763548
40+,13,2.94,38.24,3.186667

### Top Spenders

In [41]:
summed = df.groupby('SN')['Price'].sum()
count = df.groupby('SN')['Price'].count()
average = df.groupby('SN')['Price'].mean()

dfAverages = pd.DataFrame({'Total Purchase per person':summed})
dfAverages = dfAverages.sort_values('Total Purchase per person', ascending=False).head(5)
dfAverages['Purchase Count'] = count
dfAverages['Average Purchase Price'] = round(average,2)
dfAverages

             Total Purchase per person  Purchase Count  Average Purchase Price
SN
Lisosia93                        18.96               5                    3.79
Idastidru52                      15.45               4                    3.86
Chamjask73                       13.83               3                    4.61
Iral74                           13.62               4                    3.40
Iskadarya95                      13.10               3                    4.37

## Most Popular Items

In [42]:
most_pop_df = df[['Item ID', 'Item Name', 'Price']]
most_pop_df.head()

     Item ID                                  Item Name  Price
467      123                          Twilight's Carver   2.28
142      175                 Woeful Adamantite Claymore   4.48
388      128              Blazeguard, Reach of Eternity   4.91
28       119  Stormbringer, Dark Blade of Ending Misery   4.32
630      171                                    Scalpel   1.79

In [43]:
total_Purchase = most_pop_df.groupby('Item Name')['Price'].sum()
total_Purchase.head()

Item Name
Abyssal Shard                     13.35
Aetherius, Boon of the Blessed    16.95
Agatha                            18.48
Alpha                              6.21
Alpha, Oath of Zeal               12.15
Name: Price, dtype: float64

In [44]:
total_count = most_pop_df.groupby('Item Name')['Price'].count()
total_count_df = pd.DataFrame({'Count':total_count})
total_count_df = total_count_df.sort_values('Count', ascending=False)
total_count_df.head()

                                              Count
Item Name
Final Critic                                     13
Oathbreaker, Last Hope of the Breaking Storm     12
Persuasion                                        9
Nirvana                                           9
Extraction, Quickblade Of Trembling Hands         9

In [45]:
total_Purchase_df = pd.DataFrame({'total_Purchase':total_Purchase})

In [46]:
total_Purchase_df = total_Purchase_df.sort_values('total_Purchase', ascending=False).head(5)
total_Purchase= total_Purchase_df.merge(most_pop_df, on='Item Name')
total_Purchase = total_Purchase.drop_duplicates()

In [47]:
total_Purchase = total_Purchase.drop([0])

In [48]:
total_count_df.merge(total_Purchase, on='Item Name')

,Item Name,Count,total_Purchase,Item ID,Price
0,Final Critic,13,59.99,101,4.19
1,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,178,4.23
2,Nirvana,9,44.10,82,4.90
3,Fiery Glass Crusader,9,41.22,145,4.58
4,Singed Scalpel,8,34.80,103,4.35

### Most Profitable Items

In [49]:
total_Purchase.sort_values(by='total_Purchase', ascending=False)

,Item Name,total_Purchase,Item ID,Price
2,Final Critic,59.99,101,4.19
13,"Oathbreaker, Last Hope of the Breaking Storm",50.76,178,4.23
25,Nirvana,44.10,82,4.90
34,Fiery Glass Crusader,41.22,145,4.58
43,Singed Scalpel,34.80,103,4.35